
<nav class="toolbar navbar navbar-expand-md p-0" role="banner">
    <ul class="navbar-nav m-0">
        <div class="spacer"></div>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/top-games" aria-current="page">Top Games</a>
        </li>
            <div class="spacer"></div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new-games">New Games</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/slots">Slots</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/jackpots">Jackpots</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/live">Live</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/blackjack">Blackjack</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/roulette">Roulette</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/table">Table</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/poker">Poker</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item">
            <a class="nav-link" routerLink='/other'>Other</a>
        </li>
        <div class="spacer"></div>
    </ul>
</nav>