
<div class="container mt-5">
    <div class="d-flex flex-wrap justify-content-evenly" fxLayout="row" fxLayoutAlign="space-around center">
        <div *ngFor="let game of blackjack$">
            <div class="card card-b m-2 mt-5">
                <div *ngIf="hasAmount(game.id) != 0" class="card-header"> {{hasAmount(game.id) | currency}}</div>                              
                <img class="game-img card-body" [src]="game.image" alt="" style="width: 100%; height:100%">               
                <div class="play">
                    <h3 class="title">{{game.name}}</h3>
                    <button class="btn mx-5">Play</button>
                </div>
            </div>
        </div>
    </div>
</div>