.card-body{
  padding:0px;
  border-radius: 1rem;
}
.card{
  border: none;
}

.card-header{
  background-color: #373737;
  opacity: .5;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: -2.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* .ribbon {
    position: relative;
    inset: 0 auto auto 0;
    background: #08769b;
    transform-origin: 100% 0;
    transform: translate(-50.3%) rotate(45deg);
    box-shadow: 0 0 0 999px #08769b;
    clip-path: inset(0 -100%);
    box-sizing: border-box;
  } */

.game-img{
    border-radius: 1rem;
}
.card-body{
    padding: 0px !important;
}

.ribbon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  /* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  /* Hover state */
.play{
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: -40%;
}
.title{
  background-color: #373737;
  color: #FFFFFF;
  height: 2.5rem;
  border-radius: .5rem;
  text-align: center;
}
.btn{
  background-color: #8DC63F !important;
  color: #FFFFFF;
  /* display: contents; */
}
.card:hover> .play{
  display: grid;
}
.card:hover{
  opacity: .8;
}